.informationaboutme {
    margin-top: 15%;
}

.text-aboutme {
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
}
.myinterests {
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
}
.dots {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
body {
    background: url(header.jpg) no-repeat;
    font-family: fantasy;
    text-align: center;
    font-family: cursive;
    background-color: #1a1a1a;
    background-size: 100%;
    color:#F5F5F5;
}
.dots {
    font-size: 3em;
}
#website-home {
	position:fixed;
	width: 100%;
	margin-top: -15%;
	z-index: 999999;
}
